<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/game.css">
    
</head>
<body>
    <header>
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-1" id="back">
                    <h1>
                        <a href="home"> < </a>
                    </h1>
                </div>
                <div class="col-sm-1" id="logo">
                    <img src="../assets/logo 3.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-4" id="title-header">
                    <h4>ROCK PAPER SCISSORS</h4>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-4 user">
                <h3 class="text-center">PLAYER 1</h3>
                <button type="button" class="btn btn-link" id="user-r" value="batu" onclick="suit(this.value)">
                    <img src="../../batu.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="user-s" value="gunting" onclick="suit(this.value)">
                    <img src="../../gunting.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="user-p" value="kertas" onclick="suit(this.value)">
                    <img src="../../kertas.png"  class="img-fluid" alt="">
                </button>
            </div>
            <div class="col-4 text-middle">
                <div id="versus">
                    <h1 class="text-center" id="text-annoucement">VS</h1>
                </div>
            </div>
            <div class="col-4 comp">
                <h3 class="text-center">COM</h3>
                <button type="button" class="btn btn-link" id="comp-r">
                    <img src="../../batu.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="comp-s">
                    <img src="../../gunting.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="comp-p">
                    <img src="../../kertas.png"  class="img-fluid" alt="">
                </button>
            </div>
            </div>
        </div>
    </main>

    <footer class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 refresh">
                <button type="button" class="btn btn-link block" id="btn-refresh">
                    <img src="../../refresh.png"  class="img-fluid" alt="">
                </button>
            </div>
            <div class="col-4">
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/js/game.js"></script>
   
</body>
</html>