* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    font-size: 18px;
}

/*PAGE HOME*/
header {
    display: flex;
    flex-direction: column;
    background-image: url('../../main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    max-width: 1359px;
    height: 150vh;
    background-position: center center;
    position: relative;
}

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,.2);
    padding-top: 15px;
    padding-bottom: 15px;
}

#navbarText ul li a:hover {
    color: #FBB341 !important;
}

.navbar-brand:hover {
    color: #FBB341;
}

.navbar-brand {
    font-weight: 700;
    font-size: 25px;
    color: white;
    padding: 0px 20px;
    text-decoration: none;
}

.collapse ul li a {
    color: white !important;
    padding: 0 20px !important;
    font-size: 12px;
    font-weight: 700;
}

.form-container {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
    font-weight: 700;
}

.control input {
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}

.control input[type="submit"] {
    background-color: #FBB341;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.7;
    transition: opacity .3s ease;
}

.control input[type="submit"]:hover {
    opacity: 1;
}



